/* Set a fixed height for the carousel container */
.swiper-container {
    height: 600px;
  }
  
  /* Style the carousel slides */
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items : start;
    justify-content : center;
    background: 
    linear-gradient(0deg, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), linear-gradient(0deg, rgba(255,255,255,0.3),rgba(255,255,255,0.3));
    position: relative;
  }
  .swiperContent {
    display: flex;
  }
  
  .content-text {
    flex: 1;
    padding-right: 20px; /* Adjust the spacing between text and image */
  }
  
  .content-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* Style the images in the slides */
  .swiper-slide img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  /* Style the pagination bullets */
  .swiper-pagination {
    position: absolute;
    bottom: 10px;

  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  